{% extends 'shared/layout.html' %}
{% block body %}
<section>
    <div class="text-center p-5" style="background-color:#d9e3e0;">
        <h1 class="mt-5">更新商品</h1>
    </div>
</section>
<section id='edit_area'>
    <div class="container py-5">
        <h2>填寫下方的表單更新商品</h2>
        <!-- card -->
        <div class="card mt-3">
            <div class="card-header">
                <h4 class="m-0">更新商品</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.title.label }}
                        {{ form.title(class='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ form.img_url.label }}
                        {{ form.img_url(class='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ form.category.label }}
                        {{ form.category(class='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ form.price.label }}
                        {{ form.price(class='form-control', type='number', min=1, max=1000000) }}
                    </div>
                    <div class="form-group">
                        {{ form.description.label }}
                        {{ form.description(class='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ form.on_sale.label }}
                        {{ form.on_sale }}
                    </div>
                    <div class="form-group">
                        {{ form.submit(class='btn btn-primary') }}
                    </div>
                </form>
            </div>
        </div>
        <!-- card end -->
        <div class="card mt-4">
            <div class="card-header">
                <h4 class="m-0">刪除商品</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    {{form_del.hidden_tag()}}
                    <div class="form-group mb-3">
                        {{ form_del.confirm.label }}
                        {{ form_del.confirm }}
                    </div>
                    <div class="form-group mb-3">
                        {{ form_del.submit(class='btn btn-danger') }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}